@import 'variables';

.spoiler {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 5px 10px 0 rgba(48, 27, 102, 0.05);
  border: solid 1px rgba(17, 34, 62, 0.05);
  background-color: #ffffff;
  padding: 25px 10px 0 10px;
  $spoiler: &;
  overflow: hidden;
  transition: padding-bottom 0.30s ease-out;
  margin: 10px 5px;

  &__button {
    display: flex;
    align-items: center;
    cursor: pointer;
    line-height: 9px;
    font-size: 14px;
    text-align: center;
    opacity: 0.9;
    padding-bottom: 25px;
    transition: opacity 0.3s ease-out;
    width: 100%;
    justify-content: center;

    &:hover {
      opacity: 1;
    }

    &__left-icon {
      margin-right: 7px;
    }

    &__right-icon {
      transition: transform 0.3s ease-in-out;
      margin-left: 7px;
      width: 8px;
      height: 4px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-height: 0;
    transition: opacity 0.30s ease-out, max-height 0.30s ease-out, margin-top 0.30s ease-out;
    opacity: 0;
    font-size: 16px;
    line-height: 30px;
    width: 100%;
  }

  &_open {
    padding-bottom: 40px;

    #{$spoiler} {
      &__content {
        margin-top: 7px;
        max-height: none;
        opacity: 1;
      }

      &__button {
        &__right-icon {
          transform: rotate(180deg);
        }
      }
    }
  }

  &_light {
    background-color: transparent;
    box-shadow: none;
    border: none;
    padding: 25px 0 0 0;

    #{$spoiler} {
      &__button {
        align-self: flex-end;
        color: #FFFFFF;
        padding-bottom: 0;
      }
    }
  }

  &_light.spoiler_open #{$spoiler} {
    &__content {
      margin-top: 24px;
    }
  }
}
